[Desktop Entry]
Version=1.0
Type=Application
Name=kalu
Comment=Keep Arch Linux Up-to-date
GenericName=Upgrade Notifier for Arch Linux
Exec=kalu
Icon=kalu
Categories=Utility;
Encoding=UTF-8

