*.o
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
index.html
install-sh
kalu
kalu-dbus
kalu.1
kalu.png
missing
org.jjk.kalu.service
stamp-h1
