<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>jjacky</vendor>
  <vendor_url>https://github.com/jjk-jjacky</vendor_url>

  <action id="org.jjk.kalu.sysupgrade">
    <description>Upgrade all packages that are out of date (same as `pacman -Syu`)</description>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

</policyconfig>
